


.progress-label {
    margin-bottom: 5px;
    margin-top: 1em;
}
.progress-bar {
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    max-width: 50vw;
}
.progress {
    background-color:#1DB5E4;
    width: 0%;
    height: 10px;
}

.extracted-text{
    background-color: rgb(232, 231, 231);
    padding: 1em 2em;
    border-radius: 0.428rem;
}
