@import "../../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";



/* .e-schedule .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn,
.e-schedule .e-timeline-month-view .e-work-cells.custom {
    background-color: #1DB5E4 !important;
} */


/* .e-schedule .e-schedule-toolbar .e-toolbar-items.e-tbar-pos,
.e-schedule .e-timeline-month-view .e-header-month-cell,
.e-schedule .e-timeline-month-view .e-header-week-cell,
.e-schedule .e-timeline-month-view .e-header-cells,
.e-schedule .e-timeline-month-view .e-work-cells  {
    background-color: #1DB5E4 !important;
} */


/*! schedule component layout */
.e-schedule {
    display: block;
    outline: medium none;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.e-schedule .e-schedule-toolbar {
    background: #fafafa;
    border: 0;
    border-bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 3px;
    min-height: 42px;
}

.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text,
.e-schedule .e-schedule-toolbar .e-active-view .e-icons {
    color: #1DB5E4;
}







.e-schedule .e-new-event {
    background-color: #1DB5E4;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 100%;
    opacity: .9;
    position: relative;
    width: 100%;
    z-index: 1;
}



























.e-schedule .e-vertical-view.e-timescale-disable .e-appointment {
    background: #1DB5E4;
    border: 1px solid #c9cfec;
    border-radius: 2px;
    color: #fff;
    display: flex;
    height: 54px;
    margin-bottom: 2px;
    overflow: hidden;
    position: absolute;
}






























.e-schedule .e-vertical-view .e-all-day-appointment-wrapper .e-appointment {
    background: #1DB5E4;
    border-radius: 2px;
    color: #fff;
    display: flex;
    height: 22px;
    overflow: hidden;
    position: absolute;
}









.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
    background: #1DB5E4;
    border-radius: 2px;
    color: #fff;
    overflow: hidden;
    position: absolute;
}



























.e-schedule .e-month-view .e-appointment {
    background: #1DB5E4;
    border-radius: 2px;
    color: #fff;
    cursor: default;
    display: flex;
    height: 22px;
    overflow: hidden;
    position: absolute;
}














.e-schedule .e-year-view .e-calendar-wrapper .e-month-calendar.e-calendar .e-appointment,
.e-schedule .e-year-view .e-calendar-wrapper .e-month-calendar.e-calendar .e-appointment-indicator {
    background-color: #1DB5E4;
    border-radius: 50%;
    height: 5px;
    margin-left: 13px;
    margin-top: -6px;
    position: absolute;
    width: 5px;
}
















.e-schedule .e-timeline-year-view .e-resource-left-td.e-current-day,
.e-schedule .e-timeline-year-view .e-date-header-wrap table td.e-current-day {
    color: #1DB5E4;
}










.e-schedule .e-timeline-year-view .e-work-cells.e-current-day .e-date-header {
    background-color: #1DB5E4;
    border-radius: 50%;
    color: #fff;
    margin: 2px;
    width: 20px;
}






.e-schedule .e-timeline-year-view .e-month-header.e-current-day {
    color: #1DB5E4;
}




.e-schedule .e-timeline-year-view .e-event-table .e-appointment {
    background: #1DB5E4;
    border-radius: 2px;
    color: #fff;
    cursor: default;
    display: flex;
    height: 22px;
    overflow: hidden;
    position: absolute;
}






















.e-schedule .e-timeline-view .e-appointment,
.e-schedule .e-timeline-month-view .e-appointment {
    background: #1DB5E4;
    border-radius: 2px;
    color: #fff;
    cursor: default;
    display: flex;
    height: 38px;
    overflow: hidden;
    position: absolute;
}















.e-schedule .e-month-agenda-view .e-appointment {
    border-left: 3px solid #1DB5E4;
    border-right: 0;
    cursor: default;
    padding: 0 8px;
}






.e-schedule .e-month-agenda-view .e-appointment-indicator {
    background: #1DB5E4;
    border-radius: 50%;
    height: 6px;
    left: 0;
    margin: 1px auto;
    width: 6px;
}




.e-schedule.e-rtl .e-month-agenda-view .e-appointment {
    border-left: 0;
    border-right: 3px solid #1DB5E4;
}





.e-schedule .e-agenda-view .e-month-header {
    background: #1DB5E4;
    height: 100px;
    padding-top: 12px;
    vertical-align: top;
}




.e-schedule .e-agenda-view .e-day-date-header.e-current-day {
    color: #1DB5E4;
}










.e-schedule .e-agenda-view .e-appointment {
    border-left: 3px solid #1DB5E4;
    border-right: 0;
    cursor: default;
    padding: 0 8px;
}







.e-schedule.e-rtl .e-agenda-view .e-appointment {
    border-left: 0;
    border-right: 3px solid #1DB5E4;
}

















/*! schedule event tooltip */

/*! schedule event window */















/*! schedule quick popup */
.e-quick-popup-wrapper {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.87);
    max-width: 365px;
    min-width: 320px;
    opacity: 1;
    user-select: none;
    width: 100%;
}


.e-quick-popup-wrapper .e-event-popup .e-popup-header {
    background-color: #1894b9;
}








.e-more-popup-wrapper .e-more-event-date-header .e-current-date {
    color: #1DB5E4;
}



.e-more-popup-wrapper .e-appointment {
    background: #1DB5E4;
    border-radius: 2px;
    color: #fff;
    display: flex;
    height: 22px;
    line-height: 20px;
    margin-bottom: 2px;
    padding: 2px 0;
    width: 100%;
}



.e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: #1DB5E4;
}


.e-schedule .e-vertical-view .e-all-day-cells.e-current-day {
    color: #1DB5E4;
}


.e-schedule .e-vertical-view .e-clone-time-indicator,
.e-schedule .e-vertical-view .e-current-time {
    color: #1DB5E4;
}

.e-schedule .e-vertical-view .e-current-timeline {
    border-top: 1px solid #1DB5E4;
}

.e-schedule .e-vertical-view .e-previous-timeline {
    border-top: 1px dotted #1DB5E4;
}


.e-schedule .e-month-view .e-date-header-wrap table td.e-current-day,
.e-schedule .e-month-agenda-view .e-date-header-wrap table td.e-current-day {
    color: #1DB5E4;
}

.e-schedule .e-month-view .e-current-date .e-date-header,
.e-schedule .e-month-agenda-view .e-current-date .e-date-header {
    background-color: #1DB5E4;
    border-radius: 50%;
    color: #fff;
    width: 20px;
}





.e-schedule .e-timeline-view .e-date-header-wrap table td.e-current-day,
.e-schedule .e-timeline-month-view .e-date-header-wrap table td.e-current-day {
    color: #1DB5E4;
}












.e-schedule .e-timeline-view .e-clone-time-indicator,
.e-schedule .e-timeline-view .e-current-time {
    color: #1DB5E4;
    font-size: 11px;
}

.e-schedule .e-timeline-view .e-current-timeline {
    border-left: 1px solid #1DB5E4;
}



.e-float-input.e-input-group.e-ddl.e-control.e-icon-anim>.e-float-text,
.e-float-input.e-input-focus.e-input-group.e-ddl.e-control.e-keyboard>.e-float-text {
    color: #1DB5E4;
}

.e-ddl.e-popup.e-multiselect-group .e-list-group-item.e-active,
.e-ddl.e-popup.e-multiselect-group .e-list-group-item.e-active.e-hover {
    background-color: #eee;
    border-color: #fff;
    color: #1DB5E4;
}

.e-slider-tooltip.e-tooltip-wrap.e-popup {
    background-color: #1DB5E4;
    border: 0;
    border-radius: 8px;
    cursor: -webkit-grab;
    cursor: grab;
    opacity: 1;
}



.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-inner {
    color: #1DB5E4;
}

.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-outer.e-tip-bottom {
    border-top-color: #1DB5E4;
}

.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-outer.e-tip-top {
    border-bottom-color: #1DB5E4;
}

.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-outer.e-tip-right {
    border-left-color: #1DB5E4;
}

.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-outer.e-tip-left {
    border-right-color: #1DB5E4;
}

.e-slider-tooltip.e-tooltip-wrap.e-popup.e-tooltip-wrap.e-popup.e-material-default {
    background-color: #1DB5E4;
    border: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    cursor: -webkit-grab;
    cursor: grab;
    opacity: 1;
}


.e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
    color: #1DB5E4;
}

.e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
    color: #1DB5E4;
}



.e-daterangepicker.e-popup .e-calendar .e-content.e-month .e-today.e-range-hover span,
.e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-content.e-month .e-today.e-range-hover span {
    background-color: #eee;
    border: 1px solid #1DB5E4;
    color: #1DB5E4;
}

.e-daterangepicker.e-popup .e-calendar .e-end-date.e-selected.e-range-hover span.e-day,
.e-daterangepicker.e-popup .e-calendar .e-start-date.e-selected.e-range-hover span.e-day,
.e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-end-date.e-selected.e-range-hover span.e-day,
.e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-start-date.e-selected.e-range-hover span.e-day {
    background-color: #1DB5E4;
    color: #fff;
}


.e-float-input.e-input-group.e-ddl.e-control.e-icon-anim>.e-float-text,
.e-float-input.e-input-focus.e-input-group.e-ddl.e-control.e-keyboard>.e-float-text {
    color: #1DB5E4;
}

.e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
    background-color: transparent;
    border-color: transparent;
    color: #1DB5E4;
}

.e-btn.e-flat.e-primary:hover,
.e-css.e-btn.e-flat.e-primary:hover {
    border-color: transparent;
    color: #1DB5E4;
}

input.e-input::selection,
textarea.e-input::selection,
.e-input-group input.e-input::selection,
.e-input-group.e-control-wrapper input.e-input::selection,
.e-float-input input::selection,
.e-float-input.e-control-wrapper input::selection,
.e-input-group textarea.e-input::selection,
.e-input-group.e-control-wrapper textarea.e-input::selection,
.e-float-input textarea::selection,
.e-float-input.e-control-wrapper textarea::selection {
    /* background: #1DB5E4; */
    color: #fff;
}

input.e-input::selection,
textarea.e-input::selection,
.e-input-group input.e-input::selection,
.e-input-group.e-control-wrapper input.e-input::selection,
.e-float-input input::selection,
.e-float-input.e-control-wrapper input::selection,
.e-input-group textarea.e-input::selection,
.e-input-group.e-control-wrapper textarea.e-input::selection,
.e-float-input textarea::selection,
.e-float-input.e-control-wrapper textarea::selection {
    background: #1DB5E4;
    color: #fff;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
    background: #1DB5E4;
}

input.e-input::selection,
textarea.e-input::selection,
.e-input-group input.e-input::selection,
.e-input-group.e-control-wrapper input.e-input::selection,
.e-float-input input::selection,
.e-float-input.e-control-wrapper input::selection,
.e-input-group textarea.e-input::selection,
.e-input-group.e-control-wrapper textarea.e-input::selection,
.e-float-input textarea::selection,
.e-float-input.e-control-wrapper textarea::selection {
    background: #1DB5E4;
    color: #fff;
}

.e-float-input.e-small textarea::selection,
.e-float-input textarea::selection {
    background: #1DB5E4;
    color: #fff;
}


input.e-input::selection,
textarea.e-input::selection,
.e-input-group input.e-input::selection,
.e-input-group.e-control-wrapper input.e-input::selection,
.e-float-input input::selection,
.e-float-input.e-control-wrapper input::selection,
.e-input-group textarea.e-input::selection,
.e-input-group.e-control-wrapper textarea.e-input::selection,
.e-float-input textarea::selection,
.e-float-input.e-control-wrapper textarea::selection {
    background: #1DB5E4;
    color: #fff;
}

.e-float-input.e-small textarea::selection,
.e-float-input textarea::selection {
    background: #1DB5E4;
    color: #fff;
}