.card-us {
    background: #ffffff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .02), 0 0 6px rgba(0, 0, 0, .03);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    border-radius: 10px;
    /* border-left: 4px solid #5f6c7b; */
}

.card-us:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    /* border-left: 4px solid #1DB5E4; */

}

.card-us h3 {
    font-weight: 600;
    color: #094067;
}

.card-us p {
    color: #5f6c7b;
    font-weight: 400;

}

.card-us img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

@media(max-width: 990px) {
    .card-us {
        margin: 20px;
    }
}