body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: #F8F8F8;
}

body ::selection {
    color: #fff;
    background: #1DB5E4;

}